

  <h3>Reservation</h3>

  <p>Reservations for <%= @user.name %></p>

  <% @user.reservations.each do |reservation| %>
    <p>
      <%= reservation.restaurant.name %><br>
      <%= reservation.restaurant.time %><br>
      <%= reservation.restaurant.date %><br>
      <%= reservation.restaurant.party_size %>
      <br>
      <%= link_to "Cancel Reservation", reservation, :confirm => "Are you sure you want to cancel?", :method => delete %>
    </p>
  <% end %>
