<h3><%= @restaurant.name %> </h3>
<ul>
  <li><%= @restaurant.summary %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.neighbourhood %></li>
  <li><%= @restaurant.price %></li>
  <li><%= @restaurant.cuisine %></li>
</ul>

<h4>New Reservation</h4>

  <%= form_for([@restaurant, @reservation]) do |f| %>
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :party_size %><br />
      <%= f.number_field :party_size %>
    </div>
    <div class="field">
      <%= f.date_select :date %><br />
      <%= f.time_select :time, :ignore_date => true, :ampm => true, :minute_step => 60 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
